<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiu.mapper.UserMapper">

    <!--   public User userLogin(@Param("userName")
                String username, @Param("pwd") String pwd);  -->

    <select id="userLogin" resultType="user">
        select * from t_user where user_name=#{userName} and user_pwd = #{pwd}
    </select>

    <!--User selectUserById(@Param("id") Integer id);-->
    <select id="selectUserById" resultType="user">
        select * from t_user where id = #{id}
    </select>

    <!--int updateUserPassword(int userid,String password);-->
    <update id="updateUserPassword">
        update t_user set user_pwd = #{password} where id=#{userid}
    </update>

    <!--  Map<String,object> selectAllUserName();  -->
    <select id="selectAllUserName" resultType="java.util.Map">
        select
            u.id,u.user_name
        FROM
            t_user u
                LEFT JOIN
            t_user_role r
            ON u.id = r.user_id
                LEFT JOIN
            t_role tr
            ON
                r.role_id = tr.id
        WHERE
            tr.role_name = '销售'
    </select>

    <!--List<Map<String,Object>> selectByParams(BaseQuery baseQuery);-->
    <select id="selectByParams" parameterType="com.qiu.query.UserQuery" resultType="com.qiu.pojo.User">
        select
               id,user_name,true_name,email,phone,create_date,update_date
        from
            t_user
        <where>
            is_valid = 1
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="email != null and email  != ''">
                and email  = #{email}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
        </where>
    </select>

    <!--Integer addUser(User user);-->
    <insert id="addUser">
        insert into
            t_user(id,user_name,user_pwd,email,phone,is_valid,create_date,update_date)
        values(#{id},#{userName},#{userPwd},#{email},#{phone},#{isValid},#{createDate},#{updateDate})
    </insert>

    <!--Integer updateUser(User user);-->
    <update id="updateUser">
        update t_user set user_pwd = #{userPwd},true_name = #{userName},email = #{email},
                          phone = #{phone},is_valid = #{isValid},update_date = #{updateDate}
                      where id = #{id}
    </update>

    <!--Integer deleteUser(Integer[] ids);-->
    <update id="deleteUser">
        update
            t_user
        set
            is_valid = 0
        where
              id
        in
        <foreach collection="array" separator="," item="id" open="(" close=")" >
          #{id}
        </foreach>
    </update>

    <!--User selectUserByName(String userName);-->
    <select id="selectUserByName" resultType="com.qiu.pojo.User">
        select
            user_name
        from
            t_user
        where
            user_name = #{userName}
    </select>

</mapper>